html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#container_header {
}

#container_section {
    height: 100%;
    display: flex;
}    
section nav {
    flex-basis: 15%;
    flex-shrink: 0;
    background: #FAFAFA;
    padding: 20px 30px;
}
section nav header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0.5em;
    padding-bottom: 10px;
}
section nav ul {
    list-style-type: none;
    /* line-height: 1.5; */
    /* font-size: 12px; */
    padding: 10px;
    letter-spacing: 1px;
}
section nav ul li{
    border-bottom: 1px solid #e6e6e6;
}
section nav ul li a{
    padding: 10px;
}

section nav ul li a:link {text-decoration: none; color: inherit;}
section nav ul li a:visited {text-decoration: none; color: inherit;}

section main {
    flex-basis: 70%;
    padding: 35px 30px 0;
    border-right: 1px solid #e6e6e6;
}

#terminal {
    background-color: black;
    width: 45em;
    max-width: 85%;
    padding: 1em;
    border-radius: 1em;
}
.terminal_stoplight {}

.red {
    background: #fe625d;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
}
.yellow {
    background: #ffc146;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
    margin-left: .75em;
}
.green{ 
    background: #2fc950;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
    margin-left: .75em;
}

.sample_code {
    color: white;
    font-size: large;
    font-weight: 500;
    font-family: Roboto Mono,monospace;
    padding: 0 .75em;
    letter-spacing: 0.1em;
}
.keyword { color: #ea80fc;}
.string { color: #ff80ab;}
.function { color: #80d8ff; }

.sample_code pre {
    margin: 1em 0px;
}

section aside {
    flex-basis: 15%;
    flex-shrink: 0;
}